<div class="container">
  <form *ngIf="account && order && cartItems && isEverythingFetched()" [formGroup]="orderCheckoutForm" id="order-submission-form" (ngSubmit)="realizeOrder($event)">
    <h3>Please confirm your shipping data and payment info.</h3>
    <div class="form-group">
      <label>Order ID:</label>
      <p>{{ order.id }}</p>
    </div>

    <div class="form-group">
      <label>Items:</label>
      <ul *ngFor="let item of cartItems">
        <li>{{ item.quantity }}x {{ item.product.name }} - ${{ item.product.price }} each</li>
      </ul>
    </div>

    <div class="form-group">
      <label>Total amount:</label>
      <p>${{ getTotalAmount() }}</p>
    </div>

    <div class="form-group">
      <label for="shippingAddress">Shipping address</label>
      <textarea formControlName="shippingAddress" id="shippingAddress"></textarea>
    </div>

    <div class="form-group">
      <label for="paymentMethod">Payment method:</label>
      <select formControlName="paymentMethod" id="paymentMethod">
        <option value="paypal">Paypal</option>
        <option value="banktransfer">Bank transfer</option>
      </select>
    </div>

    <input type="submit" value="Finalize!" class="btn btn-success">
  </form>

</div>

