<!--<li *ngFor="let cartItem of cartItems">Product id: {{ cartItem.productId }}; Order id: {{ cartItem.orderId }}; amount: {{ cartItem.quantity }}</li>-->
<div class="container">
  <div *ngIf="cartItems && cartItems.length > 0">
    <ul class="media-list">
      <li class="media" *ngFor="let cartItem of cartItems" id="cart-element-{{ cartItem.id }}">
        <div class="media-left">
          <img class="media-object" *ngIf="cartItem.product" src="{{ cartItem.product.imageUrl }}" alt="...">
        </div>
        <div class="media-body">
          <h4 *ngIf="cartItem.product">{{ cartItem.product.name}}</h4>
          <div>
            <label for="cart-element-{{ cartItem.id }}">Quantity:</label>
            <input type="number" name="quantity-item-{{ cartItem.id }}" class="quantity-input" value="{{ cartItem.quantity }}"/>
          </div>
          <!--<p *ngIf="cartItem.product">{{ cartItem.product.description }}</p>-->
        </div>
        <div class="media-right">
          <button *ngIf="cartItem.product" class="btn btn-danger" (click)="removeItemFromCart($event, cartItem.id)">Delete</button>
        </div>
      </li>
    </ul>
    <button class="btn btn-success" (click)="updateCartItemInfo($event)">Checkout</button>
  </div>
  <p *ngIf="cartItems && cartItems.length == 0">You haven't added anything yet!</p>
</div>
