<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BoardShop</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="product">All Products</a></li>
        <!--<li><a href="#categories">Categories</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li *ngFor="let category of categories">
              <a href="product?categoryId={{ category.id }}">{{ category.name }}</a>
            </li>

          </ul>
        </li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="cart">Shopping Cart</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="account">Details</a></li>
            <li><a href="#">Logout</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <!--<li class="dropdown-header">Nav header</li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
          </ul>
        </li>
        <!--<li><a href="../navbar/">Default</a></li>-->
        <!--<li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>-->
        <!--<li><a href="../navbar-fixed-top/">Fixed top</a></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<!--<div class="container">-->

  <!--&lt;!&ndash; Main component for a primary marketing message or call to action &ndash;&gt;-->
  <!--<div class="jumbotron">-->
    <!--<h1>BoardShop</h1>-->
    <!--<p>Welcome to the craziest, coded on the rush skate/long/cruiser board shop!</p>-->
    <!--&lt;!&ndash;<p>To see the difference between static and fixed top navbars, just scroll.</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</p>&ndash;&gt;-->
  <!--</div>-->

<!--</div> &lt;!&ndash; /container &ndash;&gt;-->

<!--<h1>-->
  <!--{{title}}-->
<!--</h1>-->
<router-outlet></router-outlet>
