<div class="container">

  <!--<li *ngFor="let product of products">{{ product.id }} - {{ product.name }} - {{ product.description }}</li>-->

  <!--<form [formGroup]="productForm" (ngSubmit)="createProduct($event)">-->
    <!--<input type="hidden" name="id" value="0"/>-->
    <!--<div class="form-group">-->
      <!--<label for="name">Name</label><input id="name" formControlName="name" type="text" placeholder="Product name" class=".form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="description">Description</label><textarea id="description" formControlName="description" placeholder="Product description" class=".form-control"></textarea>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="price">price</label><input id="price" formControlName="price" type="text" placeholder="Price" class=".form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="amount">Amount</label><input id="amount" formControlName="amount" type="number" placeholder="Amount" class=".form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="category">Category</label><input id="category" formControlName="category" type="text" placeholder="Category" class=".form-control">-->
    <!--</div>-->
    <!--<input type="submit" value="SUBMIT"/>-->
  <!--</form>-->

  <div class="item  col-xs-4 col-lg-4" *ngFor="let product of products">
    <div class="thumbnail">
      <img class="group list-group-image" src="{{ product.imageUrl }}" alt="" />
      <div class="caption">
        <h4 class="group inner list-group-item-heading">
          {{ product.name }}</h4>
        <p class="group inner list-group-item-text">
          {{ product.description }}
        </p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p class="lead">
              ${{ product.price }}</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <button id="add-to-cart-{{ product.id }}" class="btn btn-success btn-to-cart" (click)="addToCart($event, product)">Add to cart</button>
            <!--<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
