/* You can add global styles to this file, and also import other style files */

.jumbotron {
  background-image: url("public/images/jumbo.jpg");
  background-size: cover;
  height: 400px;
  color: #fff;
}
