<div class="container">
  <form *ngIf="account" [formGroup]="accountForm" (ngSubmit)="updateAccountData($event)">
    <input type="hidden" formControlName="userId" name="userId"/>
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" formControlName="username" type="text" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="firstname">First name</label>
      <input id="firstname" formControlName="firstname" type="text" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="lastname">Last name</label>
      <input id="lastname" formControlName="lastname" type="text" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="text" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <textarea id="address" formControlName="address"></textarea>
    </div>
    <input type="submit" value="Save" class="btn btn-save">
  </form>

</div>
